<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav.css">
    {% if title %}
        <title>Blog app - {{ title }}</title>
    {% else %}
        <title>Blog app</title>
    {% endif %}
    <header>
        <nav class="nav">
            <a href="#" class="navbar-brand">Star-Wars Blog App</a>
            <div class="navbar-info">
                <a href="/home" class="nav-item">Home</a>
                <a href="/about" class="nav-item">About</a>
            </div>
            <div class="navbar-reg">
                <a href="/SignIn" class="nav-item">SignIn</a>
                <a href="/Register" class="nav-item">Register</a>
            </div>
        </nav>
    </header>
    
</head>

<body>
   {% block content %}
   {% endblock %}
</body>
</html>